<div class="form-group">
    <label for="blogTitle">Blog Title:</label>
    <input type="text" class="form-control" id="blogTitle" name="blogTitle" placeholder="Blog Title...">
    <label for="blogAuthor">A Blog Post By:</label>
    <input type="text" class="form-control" id="blogAuthor" name="blogAuthor" placeholder="Blog Author...">
    <br>
    <textarea id="blogBody" class="form-control" rows="4" name="blogBody" placeholder="Blog Content..."></textarea>
    <button type="submit" class="btn btn-default">Save &amp; Submit</button>
  </div>
