<div class="form-group">
    <label for="blogTitle">Blog Title:</label>
    <input type="text" class="form-control" id="blogTitle" name="blogTitle" placeholder="" value="{{blogTitle}}">
    <label for="blogAuthor">A BBBBBBlog Post By:</label>
    <input type="text" class="form-control" id="blogAuthor" name="blogAuthor" placeholder="" value="{{blogAuthor}}">
    <br>
    <textarea id="blogBody" class="form-control" rows="4" name="blogBody" placeholder="Blog Content...">{{blogBody}}</textarea>
    <button type="submit" class="btn btn-default">Save &amp; Submit</button>
  </div>
