<div class="blog-titler">
  <h4>{{blogTitle}}</h4>
</div>
<div class="blog-author">
  <h5>Posted By: {{blogAuthor}}</h5>
</div>
<div class="blog-body-p">
  {{blogBody}}
</div>
<div class="button-div">
  <button id="edit-button" type="button" name="button"><a href="#edit/{{_id}}/">Edit Blog Post</a></button>
  <button class="delete-blog" type="button" name="button"><a href="#">Delete Blog Post</a></button>
  <button type="button" name="button"><a href="">Return to List</a></button>
</div>
