
<label for="bookmark-url">Bookmark URL</label>
<input class="form-control" id="bookmark-url" type="text" name="bookmark-url">
<label for="bookmark-title">Bookmark Title</label>
<input class="form-control" id="bookmark-title" type="text" name="bookmark-title">
<label for="bookmark-tag">Bookmark Tag</label>
<input class="form-control" id="bookmark-tag" type="text" name="bookmark-tag">
<input id="sub-button" type="submit" name="submit" value="Create New Bookmark"/>
