
<div class="bookmark-title"><a href="#">{{bookmark-title}}</a></div>
<div class="bookmark-item">
  <a href="#">Url: {{bookmark-url}}</a>
</div>
<div class="bookmark-tag">
  <a href="#">Tag: {{bookmark-tag}}</a>
</div>
