<div class="">
<label class="form-labels" for="firstname">First Name</label>
<input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name"/>
<label class="form-labels"  for="lastname">Last Name</label>
<input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name"/>
<label class="form-labels"  for="address">Address</label>
<input type="text" class="form-control" id="address" name="address" placeholder="Address"/>
<label class="form-labels"  for="phone">Phone Number</label>
<input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number: (numbers only)"/>
</div>
<input id="sub-button" type="submit" name="submit" value="Add New Contact"/>
